<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JTJBlackBox</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="/static/script.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <div><a href="/">JTJBOX</a></div>        
    </header>
    <nav>
        <ul>
            <li>asd</li>
            <li>asd</li>
            <li>asd</li>
        </ul>
    </nav>
    <section>
        {% include page['template'] %}
    </section>
    <footer>
        <copy>&copy; JTJISGOD <span>&lt;jtjisgod@gmail.com&gt;</span></copy>
    </footer>
    <div id="loading">
        <div class="loader"></div>
        <br>
        <div>Wait... We are working...</div>
    </div>
</body>
</html>